<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>
            Magazinul Sportiv GoSport Eroare
        </title> 
        <meta charset="UTF-8"> <!-- Specifică setul de caractere pentru documentul HTML -->
        <meta name="description" content="Magazinul Sportiv GoSport oferă o selecție variată de echipamente sportive, îmbrăcăminte, încălțăminte și accesorii pentru sport și fitness.">
        <meta name="keywords" content="Magazinul Sportiv GoSport, Îmbrăcăminte sport, Încălțăminte sport, Accesorii sport, Echipamente de fitness, Promoții">
  
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css"
        <%- include("../fragmente/head.ejs");  %> 
</head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>